<h1>About Us</h1>

<p class="lead">
  ...
</p>

<h2>The Creators</h2>

<div class="row lead">
  <div class="col-sm-6">
    <%= image_tag("https://avatars3.githubusercontent.com/u/11340361?v=3&s=460", class: "img-responsive img-circle") %>
    Thomas Chen
  </div>
  <div class="col-sm-6">
    <%= image_tag("https://avatars0.githubusercontent.com/u/11579207?v=3&s=460", class: "img-responsive img-circle") %>
    Danelson Rosa
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row lead">
  <div class="col-sm-6">
    <%= image_tag("https://avatars1.githubusercontent.com/u/8650753?v=3&s=460", class: "img-responsive img-circle") %>
    Pat Breault
  </div>
  <div class="col-sm-6">
    <%= image_tag("https://avatars1.githubusercontent.com/u/11723485?v=3&s=460", class: "img-responsive img-circle", height: "465px", width: "465px") %>
    Jack Ford
  </div>
</div>

<br>
<br>
