<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Company</h3>
        <a href="#">About</a><br/>
        <a href="#">Careers</a><br/>
        <a href="#">Press</a><br/>
        <a href="#">Blog</a><br/>
        <a href="#">Help</a><br/>
        <a href="#">Policies</a><br/>
        <a href="#">Disaster Response</a><br/>
        <a href="#">Terms and Privacy</a><br/>
      </div>
      <div class="col-sm-3">
        <h3>Discover</h3>
        <a href="workshops.html">Trust &amp; Safety</a><br/>
        <a href="internship.html">Invite Friends</a><br/>
        <a href="community.html">Gift Cards</a><br/>
        <a href="community.html">Life's a Beach Picks</a><br/>
        <a href="community.html">Mobile</a><br/>
        <a href="community.html">Catering</a><br/>
        <a href="community.html">Site Map</a><br/>
      </div>
      <div class="col-sm-3">
        <h3>Cooking</h3>
        <a href="takeaction.html">Why Cook</a><br/>
        <a href="shop.html">Responsible Cooking</a><br/>
        <a href="donate.html">Home Safety</a><br/>
      </div>
      <div class="col-sm-3">
        <h3>Contact</h3>
        We'd love to hear from you! <br/>
        <span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:#"> Life's a Beach [at] platano [dot] com</a>
      </div>
    </div>
    <div class="center">
      <h3>Join Us On</h3>
      <a href="https://www.facebook.com/Life's a Beach">
        Facebook
      </a>
      |
      <a href="https://www.facebook.com/Life's a Beach">
        Instagram
      </a>
      |
      <a href="https://www.facebook.com/Life's a Beach">
        Twitter
      </a>
      |
      <a href="https://www.facebook.com/Life's a Beach">
        Pinterest
      </a>
      <p align="center"><br/>© 2015 Life's a Beach</p>
    </div>
  </div>
</footer>
