<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Company</h3>
        <%= link_to "About", about_path %><br/>
        <a href="#">Careers</a><br/>
        <a href="#">Press</a><br/>
        <a href="#">Blog</a><br/>
        <a href="#">Help</a><br/>
        <a href="#">Policies</a><br/>
        <a href="#">Disaster Response</a><br/>
        <a href="#">Terms and Privacy</a><br/>
      </div>
      <div class="col-sm-3">
        <h3>Discover</h3>
        <a href="#">Trust &amp; Safety</a><br/>
        <a href="#">Invite Friends</a><br/>
        <a href="#">Gift Cards</a><br/>
        <a href="#">Life's a Beach Picks</a><br/>
        <a href="#">Mobile</a><br/>
        <a href="#">Catering</a><br/>
        <a href="#">Site Map</a><br/>
      </div>
      <div class="col-sm-3">
        <h3>Why Beaches?</h3>
        <a href="#">Stress Release</a><br/>
        <a href="#">Fun in the Sun</a><br/>
        <a href="#">Major Sporting Events</a><br/>
      </div>
      <div class="col-sm-3">
        <h3>Contact</h3>
        <span>We'd love to hear from you! <br/></span>
        <span class="glyphicon glyphicon-envelope"></span>
        <span>Beachy [at] LAB [dot] com</span>
      </div>
    </div>
    <div class="center">
      <h3>Join Us On</h3>
      <a href="https://www.facebook.com/Life's a Beach">
        Facebook
      </a>
      |
      <a href="https://www.facebook.com/Life's a Beach">
        Instagram
      </a>
      |
      <a href="https://www.facebook.com/Life's a Beach">
        Twitter
      </a>
      |
      <a href="https://www.facebook.com/Life's a Beach">
        Pinterest
      </a>
      <br/>
      <br/>
      <span align="center">© 2015 Life's a Beach</span>
    </div>
  </div>
</footer>
